.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blockContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-self: center;
  justify-self: center;
  width: 250px;
  height: 500px;
}

.bloc {
  width: 100px;
  height: 100px;
  align-self: center;
  justify-self: center;
}

.bloc:hover {
  animation-name: eff;
  animation-duration: .3s
}

@keyframes eff {
  0% {
    transform: scale(1)
  }

  25% {
    transform: scale(1.05)
  }

  50% {
    transform: scale(1.1)
  }

  75% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1.0)
  }
}
